*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    width: 1150px;
    height: 500px;
    background-color: yellow;
    position: relative;
    top: 50px;
    font-size: 100px;
    text-align: center;

}

.bird{
    height: 50px;
    width: 30px;
    background-color: red;
    position: absolute;
}

.pole{
    width: 50px;
    background-color: green;
    position: absolute;
}